* {
  padding: 0;
  margin: 0;
}
body {
  width: 350px;
  height: 600px;
  display: grid;
  justify-content: center;
  background: hsl(185, 75%, 39%);
}
.container {
  width: 350px;
  display: grid;
  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
}

.top img {
  width: 100%;
  height: auto;
  border: 1px solid hsl(185, 75%, 39%);
  border-radius: 15px 15px 0 0;
}
.section {
  margin-top: -40px;
  display: grid;
  justify-content: center;
}
section img {
  width: 80px;
  height: 80px;
  border: 5px solid white;
  border-radius: 55px 55px;
}
.bottom {
  width: 100%;
  height: auto;
  display: grid;
  justify-content: center;
  background: white;
  border: 1px solid white;
  border-radius: 0 0 15px 15px;
  margin-top: -7px;
}
.name {
  display: flex;
}
.name h2 {
  color: hsl(0, 0%, 59%);
  margin-left: 15px;
  margin-top: 8px;
}
h4 {
  display: grid;
  justify-content: center;
  margin-top: 5px;
  padding-bottom: 20px;
  color: hsl(0, 0%, 59%);
}
.line {
  width: 150%;
  margin-left: -50px;
  border-top: 2px solid hsl(0, 0%, 59%);
  color: hsl(0, 0%, 59%);
}
.info {
  padding-top: 20px;
  display: flex;
}
.followers {
  margin-left: -30px;
  margin-right: 40px;
}
.likes {
  margin-right: 40px;
}
.info p {
  color: hsl(0, 0%, 59%);
}
@media (min-width: 600px) {
  body {
    width: 600px;
  }
  .container {
    width: 600px;
    margin-left: 120px;
  }
  .line {
    width: 163%;
    margin-left: -69px;
  }
}
@media (max-width: 599px) {
  body {
    width: 400px;
  }
  .container {
    width: 400px;
    margin-left: 10px;
  }
  .line {
    width: 163%;
    margin-left: -69px;
  }
}
